@layer foolscap.components {
  .fc-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    fill: currentcolor;

    &[data-size='xs'] { width: var(--fc-space-3); height: var(--fc-space-3); }
    &[data-size='sm'] { width: var(--fc-space-4); height: var(--fc-space-4); }
    &[data-size='md'] { width: var(--fc-space-5); height: var(--fc-space-5); }
    &[data-size='lg'] { width: var(--fc-space-6); height: var(--fc-space-6); }
    &[data-size='xl'] { width: var(--fc-space-8); height: var(--fc-space-8); }

    & svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
